body {
  padding: 0;
  margin: 0;
  max-width: none;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100lvh;
  max-height: 100vh;
  color: #252525;
  background-color: #ebf5f5;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue",
  "Noto Sans CJK SC", "Noto Sans CJK", "Source Han Sans", "PingFang SC",
  "Microsoft YaHei", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
