body {
  padding: 0;
  margin: 0;
  max-width: none;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100lvh;
  max-height: 100vh;
  color: #252525;
  background-color: #ebf5f5;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
